@import "tailwindcss";

:root {
  --text-primary: white;
  --text-secondary: #b3b3b3;
  --bg-primary: #2c2c2c;
  --bg-secondary: rgb(60, 60, 60);
  --border-color: #b3b3b3;
  --bg-gradient-start: #464cf6;
  --bg-gradient-end: #77ccf4;
  --bg-modal: rgba(0, 0, 0, 0.8);
}

@layer components {
  .border-bottom {
    @apply border-b-[1px] border-solid border-(--border-color) pb-2;
  }

  .small-icon-exp {
    @apply w-8 h-9 rounded-sm
  }

  .tag-styling {
    @apply py-1 px-2 ml-1 my-1 border-(--border-color) border-[1px] text-zinc-700 rounded-xl text-xs font-semibold
  }

  .bg-diagonal-stripes {
    @apply bg-[repeating-linear-gradient(-45deg,var(--bg-secondary),var(--bg-secondary)_2px,var(--bg-primary)_2px,var(--bg-primary)_5px)]
  }
}

@keyframes typing {
  0% {width: 0%}
  100% {width: 100%}
  
}

@keyframes blink {
  0%, 100%{border-color: currentColor}
  50% {border-color: transparent}
}

@theme {
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-border-color: var(--border-color);
  --color-bg-gradient-start: var(--bg-gradient-start);
  --color-bg-gradient-end: var(--bg-gradient-end);
  --color-bg-modal: var(--bg-modal);
}

